@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

*, *:after, *:before {
  box-sizing: border-box;
}

html,
body,
h1,
p {
  margin: 0;
}


button {
	border:none;
	outline:none;
	cursor: pointer;
}


button:focus {
	border-color: #666;
}

input, button, select, textarea {
	font-family: inherit;
	padding: 0.4em;
	box-sizing: border-box;
	border-radius: 2px;
  
}


ul{
	list-style: none;
 }



html:focus-within{
	scroll-behavior: smooth;
}

body {
	text-rendering: optimizeSpeed;

}

img,
picture,
svg{
display: block;
width: 100%;
}

:root{
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-300:hsl(212, 21%, 14%);

    --clr-primary-200:hsl(228, 12%, 48%);
    --clr-primary-300: hsl(30, 38%, 92%);
    --clr-primary-400:hsl(158, 36%, 37%);
    --clr-primary-500: rgb(26 64 49 / 1);;
   
    --fs-700: 1.75rem;
    --fs-400: 0.875rem;;
    --fs-300: 0.75rem;

    --fw-400:500;
    --fw-700:700;


    --ff-primary:"Montserrat","sans-serif";
    --ff-secondary:"Fraunces","sans-serif";
}


body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

main{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  max-width: 37.3rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.side-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1,h2,h3
{
  line-height: 1.1;
}

/* compostion */

.flex-row{
  display: flex;
  gap: 1rem;
}

.align-item-center{
align-items: center;  
}

.justify-content-center{
  justify-content: center;
}

/* Utilites */

.text-neutral-300{
color: var(--clr-neutral-300)
}

.text-neutral-400
{
  color: rgb(108 114 137 / 1);
}

.text-primary-400
{
  color: var(--clr-primary-400);
}

.text-primary-200{
  color: var(--clr-primary-200);
}

.bg-primary-300{
  background-color: var(--clr-primary-300);
}

.bg-neutral-100{
  background-color: var(--clr-neutral-100);
}

.padding-48{
  padding: 3rem;
}

.padding-24{
  padding: 1.5rem;
}

.padding-24{
  padding: 1.5rem;
}

.font-size-300{
  font-size: var(--fs-300);
}

.font-size-400{
  font-size: var(--fs-700);
}

.font-size-700{
  font-size: var(--fs-700);
}

.fw-bold{
  font-weight: var(--fw-400);
}

.fw-extra-bold{
  font-weight: var(--fw-700);
}

.letter-spacing-300{
  letter-spacing: 0.4rem;
}

.text-decoration-linethrough{
  text-decoration: line-through;
}

.font-family-primary{
  font-family: var(--ff-primary);
}

.font-family-secondary{
  font-family: var(--ff-secondary);
}

.text-capital{
  text-transform: uppercase;
}


.button{
  padding: 1em 2em;
  border-radius: .5rem;
  font-weight: var(--fw-700);
  background-color: transparent;
  width: 100%;
  }
  
  .button[data-type="primary"]
  {
  
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
  }
  .button[data-type="primary"]:hover,
  .button[data-type="primary"]:focus
  {
    background-color: var(--clr-primary-500);
  }

  
@media (max-width:675px) {
  main{
    display: flex;
    flex-direction: column;
    overflow: visible;
    max-width: 24rem;
  }
  .side-card{
    gap: 1rem;
    border-radius:   0  0 0.8rem  0.8rem ;
  }
  body{
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .product-image{
    border-radius:  0.8rem  0.8rem 0  0 ;
  }
  }